body {
  background-color: #f4f4f4;
  background-image: url('./image.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 95% -10%;
  font-family: poppins;
  position: absolute;
}

h1 {
  margin-top: 80%;
  color: #00396D; 
  margin-left: 50%;
  font-size: 48px;
}

form {
  margin-left: 50%;
  font-size: 15px;
}

.inputVal {
  margin-bottom: 0;
}

.inputQ {
  border-radius: 5px;
  border: solid .2px black;
  padding: 20px;
  width: 400%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.buttons {
  width: 500%;
  margin-top: 20px;
}

button {
  margin-right: 20px;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 20px;
  cursor: pointer;
}

.entrar {
  color: white;
  background-color: #00396D;
  border: none;
  width: 40%;
  font-size: 15px;
  transition: 0.5s;
}

.entrar:hover {
  background-color: #185a97;
}

.esqueci {
  border-color: #00396D;
  color: #00396D;
  width: 40%;
  font-size: 15px;
}

.cadastroContainer {
  margin-top: 30px;
  font-size: 15px;
  width: 200%;
}

a {
  cursor: pointer;
  color: #00396D;
  font-weight: bold;
}